!!!
%html
  %head
    %title Daily Schedule Creator | RIPHILMS
    %link{rel: 'stylesheet', href: '/css/index.css'}
  %body
    %h1 Daily Schedule Creator
    %img#logo{:src => '/img/logo-bw-500.png'}
    %p
      Please select a date:
    #loading
      #movingBallG
        .movingBallLineG
        #movingBallG_1.movingBallG
      %p
        Loading... (this could take a while) 
%form{ :action => "", :method => "post"}
  %fieldset
    %ol
      %li
        %label{:for => "date"} Date:
        - today = DateTime.now().strftime("%Y-%m-%d")
        %input{:type => "text", :name => "date", :class => "date", :id => "date", :value => today}
    %input{:type => "submit", :value => "Submit", :class => "button"}

%script{:src => "//code.jquery.com/jquery-1.10.2.js"}
%link{rel: "stylesheet", href: "//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css"}
%script{:src => "//code.jquery.com/ui/1.10.4/jquery-ui.js"}
:javascript
  $(document).ready( function() {
      $( ".button" ).click(function() {
        $("#loading").toggle();
      });
      $( "#date" ).datepicker({ dateFormat: "yy-mm-dd" });
  });
