

@media print and (color){
	.hide {
		display: none !important;
		visibility: hidden !important;
	}
	aside {
		display: none !important;
		visibility: hidden !important;
	}
	td {
		page-break-inside: avoid;
	}
	* {
/*      -webkit-print-color-adjust: exact;
      print-color-adjust: exact;*/
   }
}
